<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true" autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets async="true">
    <target name="colouredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${aspnet-TraceIdentifier}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}|${message}${onexception:${newline}${exception:format=tostring}}" >
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target name="file" xsi:type="File"
            archiveOldFileOnStartup="true"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${aspnet-TraceIdentifier}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}|${message}${onexception:${newline}${exception:format=tostring}}"
            fileName="${basedir}\logs\${appdomain:format={1\}}.log"
            archiveFileName="${basedir}\logs\archive\${appdomain:format={1\}}.{##}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            concurrentWrites="true"
            keepFileOpen="false" />
    <target name="errorFile" xsi:type="File"
            archiveOldFileOnStartup="true"
            layout="${longdate}|${pad:padding=3:inner=${event-properties:item=EventId_Id}}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}|${message}${onexception:${newline}${exception:format=tostring}}"
            fileName="${basedir}\logs\${appdomain:format={1\}}.error.log"
            archiveFileName="${basedir}\logs\archive\${appdomain:format={1\}}.error.{##}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            concurrentWrites="true"
            keepFileOpen="false" />
  </targets>
  <rules>
    <!-- To show duration of request exception set enabled to false -->
    <logger name="Microsoft.*" maxLevel="Info" final="true" enabled="false" />
    <logger name="*" minlevel="Trace" writeTo="colouredConsole" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Warn" writeTo="errorFile" />
  </rules>
</nlog>
